/* app css stylesheet */

body, html {
  height: 100%;
}

body {
  color: #555555;
  background-color: #f5f5f5;
}

.fullscreen {
 height: 100%;
}
.divscrollable{
	position: fixed;
	right: 10%;	
}

.whitebg {
  background-color: #FFFFFF;
}

.bolder {
    font-weight: bolder !important;
}

.fontnormal {
    font-weight: normal !important;
}

.black{
    color:#000000 !important;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}
.paddedleft120 {
    padding-left: 12%;
}

.paddedleft90 {
    padding-left: 9%;
}

.paddingleft0px {
    padding-left: 0px;
}

.paddedleft75{
    padding-left: 75%;
}

.paddedleft72px{
    padding-left: 72px;
}

.paddedleft60px{
    padding-left: 60px;
}

.paddedleft30px {
    padding-left: 30px;
}

.paddedleft80 {
    padding-left: 8%;
}

.paddedleft {
    padding-left: 20px;
}
.paddedleftn20px {
    padding-left: -20px;
}
.paddedleft0 {
    padding-left: 15px;
}

.paddedtop {
padding-top: 10px;
}

.paddedtop25px {
    padding-top: 25px;
}

.paddedtop10 {
    padding-top: 40px;
}

.paddedtop60px {
    padding-top: 60px;
}

.paddedbottom {
padding-bottom: 40px;
}

.paddedbottom10 {
padding-bottom: 10px;
}

.paddedbottom20 {
padding-bottom: 20px;
}

td > a {
    color: #080808;
}
.blockquoteresult {
    margin: 0 0 20px;
    padding: 10px 15px;
    border-left: 5px solid #BBBBBB;
}
.condensed-table th, .condensed-table td {
  padding:5px 5px 4px;
}
accordion > div > div > div > a {
	color : #5e565e;
}

accordion > div > div > div > a:hover,
accordion > div > div > div > a:focus {
  color: #080808;
  text-decoration: underline;
}

span > a {
  color: #080808;
}

div > ul > li a {
  color : #5e565e;
}

div > div > ul > li a:hover,
div > div > ul > li a:focus {
  color: #080808;
  text-decoration: underline;
}

.statusoverpaid {
    color: #800080
}

.statusactiveoverdue {
	color: #FF0000
}

.statustransferprogress {
    color: #FF4000;
}

.statustransferonhold {
    color: #DF0101;
}

.statusactive {
    color: #008000;
}

.statusmatured {
    color: #FF4000;
}

.statusdeleted {
    color: #000000;
}

.statuspending {
    color: #FFA500;
}
.statusApproved {
    color: #0F36E4;
}

.statusbad {
    color: #FF0000;
}

.statusgood {
    color: #008000;
}

.statushold {
    color: #FFFF00;
}

.statusprogresspendingtab {
    color: #F7FE2E;
}

.statusprogresstab {
    color: #FFA500;
}

.statusprogresscompletedtab {
    color: #298A08;
}

td.labelrow {
    padding: 0 0 10px;
}

tr.bottomborder td, tr.bottomborder th {
     border-bottom:1px solid #C0C0C0;
     padding-bottom:2px
}
tr.toppadding td, tr.toppadding th {
     padding-top:8px
}

tr.graybg td, tr.graybg th {
     background-color: #F0F0F0;
}

td.graybg {
     background-color: #F0F0F0;
}

hr.marginbottom {
    margin-bottom: 8px;
}
.marginbottom0 {
    margin-bottom: 0px;
}
.overflowhidden{
    overflow: hidden;
}
.primarydiv {
  background-color: #0f82f5;
  *background-color: #0072e6;
  background-image: -moz-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a8cff), to(#0072e6));
  background-image: -webkit-linear-gradient(top, #1a8cff, #0072e6);
  background-image: -o-linear-gradient(top, #1a8cff, #0072e6);
  background-image: linear-gradient(to bottom, #1a8cff, #0072e6);
  background-repeat: repeat-x;
  border-color: #0072e6 #0072e6 #004c99;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a8cff', endColorstr='#ff0072e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

.ext-sidenav {
    background-color: #FFFFFF;
    z-index: 2000;
    box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 0px 8px -6px rgba(0, 0, 0, 0.2);
}

ul li {
    list-style-type: none;
}

.leftmenu > ul > li {
  height: 30px;
  vertical-align: middle;
}

iframe {
  display:block;
}

/* Chrome custome scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(203,203,203,0.8);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(203,203,203,0.4);
}

/* Panel */
#dashboard .panel {
    border: 1px solid #DDDDDD;
    padding:15px;
    height:325px;
    overflow:hidden;
    z-index: -1;
    background-color:#ffffff;
}

.panelbig {
    border: 1px solid #DDDDDD;
    padding:15px;
    height:325px;
    width:730px;
    overflow:hidden;
    z-index: -1;
    background-color:#ffffff;
}
#dashboard .panel-header {
    background-color:#f5f5f5;
    border-bottom: 1px solid #DDDDDD;
    padding: 6px 15px;
    margin: -15px -15px 15px;
}

.panel-header-text {
    font-weight:bold;
    color:#000000;
}

.panel-error {
    z-index:1;
    margin-left:80px;
}
/* Avatar */

.gavatar {
    margin-top: 5px;
    border: 2px solid #ffffff;
    padding:1px;
    width: 50px;
    height: 51px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.avatarpic {
    height: 24px;
    width: 23px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.next-row {
    margin-top: 3px;
}

input.marginbottom0px, textarea.marginbottom0px  {
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.notewrapper {
   background-color: #f5f5f5;
   border-left: 1px solid #AFAFAF;
   border-right: 1px solid #AFAFAF;
   border-bottom: 1px solid #AFAFAF;
}

.noteaddbuttonwrapper {
   padding: 6px;
}

.blockoverlay {
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none outside none;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    width:300px;
}

.grpinputicons {
  margin-bottom: 0px;
}

.blockoverlaywidth{
    width:300px;
}

a:hover
{
  cursor: pointer;
}

.pointer{
    cursor: pointer;
}

tr.pointer-main:hover {
    background-color: #007FFF;
    color: #ffffff !important;
}

.grbgcolor {
  background-color: #F0F0F0;
}

/* form Validation */

.error {
    color:red;
    padding: 3px 7px 11px;
    z-index: 100;
    top: 10px;
    left: 0px;
    border:1px solid #ddd;
    opacity: 0.9;
}

.required {
    color:red;
    font-weight:bolder;
}

/* Dashboard Inputs */

.input-mini-small {
  width: 20px;
}

.input-mini-medium {
    width: 30px;
}

.input-smaller {
  width: 65px;
}

.input-small-tooltip {
    width: 110px;
	background-color: #f5f5f5;
	margin: -6px -11px 0px 0;
}

.btn-tooltip {
    background-color: #f5f5f5;
    color: #000000;
    border-radius: 2px;
    padding: 1px;
    width:auto;
}

.progress-tooltip {
    background-color: #f5f5f5;
    width:280px;
    height:20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.loading-widget-div {
    position: fixed;
    top: 50%;
    left: 48%;
    z-index: 100;
}

.modal-middle{
    left:100px
}

.activate {
    color: darkgrey !important;
}

div[data-angular-treeview] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Tahoma;
    font-size:13px;
    color: #000000;
    text-decoration: none;
}

div[data-tree-model] ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
}

div[data-tree-model] li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

div[data-tree-model] li .expanded:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f117";
    font-style: normal;
    color:red;
}

div[data-tree-model] li .collapsed:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    top:0;
    left:-5px;
    content: "\f116";
    font-style: normal;
    color:darkgreen;
}

div[data-tree-model] li .normal:before {
    padding: 1px 10px;
    position:absolute;
    font-family: fontawesome;
    font-style: normal;
    top:0;
    left:-5px;
    content: "\f111";
    color:deepskyblue;
}

div[data-tree-model] li i, div[data-tree-model] li span {
    cursor: pointer;
}

div[data-tree-model] li .selected {
    background-color: #d3d3d3;
    font-weight: bold;
    color: darkblue;
    padding: 1px 10px;
}

.btn-silver{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-silver-info {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-silver-info:hover, .btn-silver-info:focus, .btn-silver-info:active, .btn-silver-info.active, .btn-silver-info.disabled, .btn-silver-info[disabled] {
    background-color: #2F96B4;
    color: #FFFFFF;
}

.btn-black{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #000000;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.flag{
    width: 15px;
}

.marginbuttontop25px {
    margin-top: 25px;
}

.templatekeys {
    cursor: pointer;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: rgb(66, 139, 202);
    margin: 10px 0px;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    font-weight: bold;
    padding: 0.3em 0.6em 0.4em;
}

.rowleft {
    margin-left: -90px;
    border-left-width: 1px;
    margin-right: 90px;
}

/* Inventure */
.inventureTabTitle a {
    font-weight: bold;
    color: #FF6600;
}

#inventureBulletChart .nv-tick text, .displaynone {
    display: none;
}

.inventureMainBorder {
    border: 1.5px solid #DDDDDD;
    padding:15px;
}

.inventureCategoryTitle {
    background-color: #E8E8E8;
    border-bottom: 1.5px solid #DDDDDD;
    padding: 10px 15px;
    margin: -15px -15px 15px;
}

.inventureBulletLegendCell {
    width:90px;
    text-align:center;
}

.inventureRecommendationTable {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.inventureTableTopBorder {
    border-top: 3px solid #DDDDDD;
}

.inventureRecommendationCellTitle {
    font-weight:bold;
    color:#333;
}

.inventureRecommendationCellType {
    width:125px;
    height:25px;
    text-align:center;
}

.inventureRecommendationCellAmount {
    width:175px;
    height:25px;
    text-align:center;
}

.inventureRecommendationCellLeftGap {
    width:7px;
    text-align:center;
    border-right: 2px solid #DDDDDD;
}

.inventureTooltip .tooltip-inner {
    white-space: pre-wrap;
    font-size: 13px;
}

.inventureRecommendationCellRightGap {
    width:7px;
    text-align:center;
}

.collapse-header-main {
    padding: 10px 15px;
    width: 350px !important;
}

.black {
    color:#000000;
}

.collapse-header {
    padding: 10px 15px;
    width: 350px !important;
}

.silver {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
}

.collapse-button {
    position:absolute;
    left:440px;
    color:#000000;
    background-color: transparent;
}

.nav-info {
    list-style: none;
}

.nav-header{
    width: 550px !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.center{
    text-align: center !important;
}

.table-font-nav {
    font-weight: bold;
}

input.marginbottom3px, textarea.marginbottom3px  {
    margin-bottom: 13px;
    border-bottom-width: 0px;
    padding: 3px;
}


.left-nav
{
    position: fixed;
    left: -13em;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.3);
    border-right: 2px solid #ffffff;
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    min-width: 226px;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}

.left-nav ul
{
    width: 16em;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 1em;
}

.left-nav ul > li
{
    position: relative;
}

.left-nav ul > li > a
{
    padding: 3px 0px;
}

.left-nav li i
{
    float: right;
}

.left-nav:hover
{
    left: 0;
    background-color: #ffffff;
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
}

.left-nav .divider {
    background-color: #bbbbbb;
    border-bottom: none;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.blockui{
    pointer-events: none !important;
    cursor: default !important;
}

.left-nav:hover:after{
    border-color: transparent transparent transparent transparent;
}
.validationerror{
    border: 1px solid red !important;
}

/* summary */
.summary {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin-left: 70px;
    height:100px;
    width:100px;
    overflow:hidden;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.summary-header {
    background-color:transparent;
    padding: 10px 15px;
    margin: -15px -15px 15px;
}

.summary-header-text {
    font-weight:bold;
    color:#000000;
    font-size: 28px !important;
}

.summary-error {
    z-index:1;
    margin-left:80px;
}
/* summary */

.head-affix{
    width: 100%;
    max-width: 1170px;
    background-color: #F0F0F0;
    margin-bottom: -20px;
    padding: 5px 0 0 20px;
}

.modal-big{
    height : 250px !important;
}

.date-disable[readonly]{
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
    cursor: text !important;
}

.angled-textarea{
    margin-left: -25px !important;
}

.display-header-text {
    font-weight:bold;
    color: #ffffff;
    font-size: 13px !important;
    text-align: center;
    text-decoration: none !important;
    text-decoration-line: no-underline !important;
}

.fa-middled{
    margin-left: 20px;
}

a.no-decorate {
    text-decoration: none;
    text-decoration-line: no-underline !important;
}

.display-panel {
    border: 1px solid #DDDDDD;
    padding:15px;
    margin-left: 70px;
    height:50px;
    width:202px;
    overflow:hidden;
    background-color: #555555;
    z-index: -1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.display-panel:hover{
    color:#000000 !important;
    background-color: #696969;
}


/* not good practice to set style on element at such broad scope*/
.container td:first-child {    padding-left: 20px;  }
.container th:first-child {    padding-left: 20px;  }
.container td:last-child {    padding-right: 20px;  }
.container th:last-child {    padding-right: 20px;  }

tr.pointer-main td.pointer:hover{
    color:white;
}

tr.pointer-code:hover{
    background-color: #00bfff !important;
    color: #ffffff;
}

td.pointer a:hover{
    color: white;
    text-decoration:none;
}

.text-pointer{
    cursor: text;
}

#search:focus{
    background-color: white;
    color: #000000;
}

.selected-row{
    background-color: deepskyblue !important;
}

.text-main:hover{
    cursor: text;
    background-color: deepskyblue !important;
}

.display-save-message {
    top:50%;
    left:35%;
    position:absolute;
}

.select-row:selection {
    color:blue;
}

.advacctable {
    margin-left: -20px;
    width: 100%;
}

.pullleft19px{
    margin-left: -19px !important;
}

.table-bold{
    font-weight: bold;
    background-color: #F5F5F5;
}

.table-bold-loan{
    font-weight: normal;
    width:160px !important;
    background-color: #F5F5F5;
}
.table-bold-acc{
    background-color: #F5F5F5;
}

.padded-td{
    margin-left: 15px !important;
}

.view-table{
    font-weight:bold;
    border-width:2px;
    border-spacing: 2px;
    position: relative;
}

.view-member{
    border-spacing: 2px;
    position: relative;
    right: 30px;
    left: 30px;
}

.paddedsummary{
    position: relative;
    right:10px;
    left: 40px;
}

.gray-head{
    background-color: #F5F5F5;
}

.highlight-row:hover{
    background-color: #00bfff;
}

.strikeoff{
    color: red !important;
    text-decoration:line-through;
    text-decoration-style: double;
}

tr.strikeoff td a{
    color: red!important;
}

.hotkey{
    font-weight: bold;
    color: red;
    font-style: italic;
    font-size: 20px;
}
input#search::-webkit-input-placeholder{
    font-size: 12px;
}

input#search:-moz-placeholder{
    font-size: 12px;
}

input#search::-moz-placeholder {
    font-size: 12px;
}
input#search:-ms-input-placeholder {
    font-size: 12px;
}
.width5{
    width: 5%;
}
.width8{
    width: 8%;
}
.width10{
    width: 10%;
}
.width11{
    width: 11%;
}
.width12{
    width: 12%;
}
.width14{
    width: 14%;
}
.width19{
    width: 19%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width31{
    width: 31%;
}
.width34{
    width: 34%;
}
.width36{
    width: 36%;
}
.width40{
    width: 40%;
}
.width45{
    width: 45%;
}
.width50{
    width: 50%;
}
.width60{
    width: 60%;
}
.width80{
    width: 80%;
}
.width86{
    width: 86%;
}
.width100{
    width: 100%;
}
.width170px{
    min-width: 170px !important;
    width: auto;
}
.width500px{
    min-width: 500px !important;
    width: auto;
}

.multiselect{
    width: 400px;
    height: 350px;
}

.multiselectmin{
    height: 100px !important;
}
.margintopminustenpx{
    margin-top: -10px;
}

.modalwidth600{
    width: 600px;
}
.modalwidth700 .modal-dialog {
    width: 700px;
}
.width450px{
    width: 450px;
}
.displayinlineblock{
    display: inline-block;
}
.xbrltd{
    display: inline-block;
    background-color: #DFDFDF;
    padding-top: 5px;
}
.paddingright135px{
    padding-right: 135px;
}
.paddingright90px{
    padding-right: 90px;
}
.marginleft20px{
    margin-right: 20px;
}
.grpinputicons button {
    height: 30px;
}

@media print
{
body * { visibility: hidden; }
#printcontent * { visibility: visible; }
#printcontent { position: absolute; top: 100px; left: 100px; width: 160%;height: 100%;}
    #printreceiptcontent * { visibility: visible; }
    #printreceiptcontent { position: fixed; top: 1px; left: 1px; width: 100%;height: 100%;}
}
.boldlabel{
    font-size: 20px;
    margin-left: 15px;
}
.marginleftn7px{
    margin-left: -7px;
}
.marginleftn18px{
    margin-left: -18px;
}
.marginleftn19px{
     margin-left: -19px;
 }
.marginleftn20px{
    margin-left: -20px;
}

/*hr.terms {
    border-top: thin solid rgba(0, 0, 0, 0.08);
    color: #555555;
    text-align: left;
    border-style: solid none none;
}

hr.terms:after {
    content: "Terms";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    border-width: 1px 0 0;
}*/

.clear{
    clear:both;
}
.minheight30px{
    min-height: 30px;
}
.inline{
    display:inline-block;
}
.auditnodata{
    color:red;
    position: absolute;
    top: 90%;
    left: 45%;
}
.width1200px{
    width: 1200px;
}
.paddinglr0px{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.table-minified th:first-child{
	padding-left:6px;
}
.table-minified td:last-child{
	padding-right:6px;
}
.pointer .btn-xs, .btn-group-xs>.btn{
	font-size: 12px;
	line-height: 1;
	width: 36px;
}
.client-title{
	margin: 5px 0;
}
.col-md-8 .client-title{
	margin-left: 10px;
}
.client{
	margin-top: 8px;
}
#home .panel-body{
	padding: 0px;
	min-height: 200px;
}
#home .list-group{
	margin-bottom: 0px;
}
#home .list-group-item{
	padding: 2px 10px;
}
h3.bolder {
	margin: 5px 0;
}
.overflow{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.top-right{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	display: inline-block;
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
#center .panel-body{
	padding: 0px;
	max-height: 225px;
	min-height: 40px;
    overflow-y: auto;
}
#center .list-group{
	margin-bottom: 0px;
}
#center .list-group-item{
	padding: 2px 10px;
}

.success {
    border: 1px solid #ccc;
    color: #6fb118;
    margin-bottom: 10px;
    padding: 5px;
}.lang-dropdown{
	right: 0;
	left: initial;
}
.meeting{
	margin-left: -7px
}
.meeting th:first-child{
    padding-left: 0px;
}
.thumbnail.row h4 {
	text-align: center;
}

.icon-green{
    color:green;
    font-size: 18pt
}

.icon-red{
    color:red;
    font-size: 18pt
}
.table-cell-scrollable{
    height:30px;
    overflow: auto;
    font-size: 12px;
}

/*! 
 * angular-loading-bar v0.7.1
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2015 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
